@charset "UTF-8"; 
div{
	margin:auto; 
	width:90%; 
	background-color:beige;
	} 
nav{
	display:flex;
	height:100px; 
	background-color:black
	} 
nav a{ 
	text-decoration:none; 
	padding:30px; 
	font-size:25px; 
	color:white; 
	} 
a:hover{ 
	background-color:orange; border-radius:10px; 
	}